//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 19 11:41:01 2024
//! **************************************************************************

SCHEMATIC START;
COMP "LCD_DATA<0>" LOCATE = SITE "T6" LEVEL 1;
COMP "LCD_DATA<1>" LOCATE = SITE "R5" LEVEL 1;
COMP "LCD_DATA<2>" LOCATE = SITE "T5" LEVEL 1;
COMP "LCD_DATA<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "LCD_DATA<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "LCD_DATA<5>" LOCATE = SITE "L8" LEVEL 1;
COMP "LCD_DATA<6>" LOCATE = SITE "L7" LEVEL 1;
COMP "LCD_DATA<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "EASY" LOCATE = SITE "E11" LEVEL 1;
COMP "HARD" LOCATE = SITE "A14" LEVEL 1;
COMP "RESET" LOCATE = SITE "F10" LEVEL 1;
COMP "VHARD" LOCATE = SITE "D11" LEVEL 1;
COMP "MOTOR_OUT<0>" LOCATE = SITE "J1" LEVEL 1;
COMP "MOTOR_OUT<1>" LOCATE = SITE "H2" LEVEL 1;
COMP "MOTOR_OUT<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "MOTOR_OUT<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "DOT_RAW<10>" LOCATE = SITE "P2" LEVEL 1;
COMP "DOT_RAW<11>" LOCATE = SITE "R1" LEVEL 1;
COMP "DOT_RAW<12>" LOCATE = SITE "R2" LEVEL 1;
COMP "DOT_RAW<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F7" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "A6" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "D5" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "A5" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "B5" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "A4" LEVEL 1;
COMP "KEY<0>" LOCATE = SITE "F2" LEVEL 1;
COMP "KEY<1>" LOCATE = SITE "F1" LEVEL 1;
COMP "KEY<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "KEY<3>" LOCATE = SITE "J4" LEVEL 1;
COMP "KEY<4>" LOCATE = SITE "J6" LEVEL 1;
COMP "KEY<5>" LOCATE = SITE "H5" LEVEL 1;
COMP "KEY<6>" LOCATE = SITE "H4" LEVEL 1;
COMP "KEY<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "KEY<8>" LOCATE = SITE "L4" LEVEL 1;
COMP "LCD_EN" LOCATE = SITE "M6" LEVEL 1;
COMP "LCD_RS" LOCATE = SITE "N6" LEVEL 1;
COMP "LCD_RW" LOCATE = SITE "T4" LEVEL 1;
COMP "BUZZER" LOCATE = SITE "D12" LEVEL 1;
COMP "NORMAL" LOCATE = SITE "B14" LEVEL 1;
COMP "FND_COM<0>" LOCATE = SITE "E7" LEVEL 1;
COMP "FND_COM<1>" LOCATE = SITE "A10" LEVEL 1;
COMP "FND_COM<2>" LOCATE = SITE "B10" LEVEL 1;
COMP "FND_COM<3>" LOCATE = SITE "A9" LEVEL 1;
COMP "DOT_COL<0>" LOCATE = SITE "T14" LEVEL 1;
COMP "DOT_COL<1>" LOCATE = SITE "T15" LEVEL 1;
COMP "DOT_COL<2>" LOCATE = SITE "R14" LEVEL 1;
COMP "DOT_COL<3>" LOCATE = SITE "R16" LEVEL 1;
COMP "DOT_COL<4>" LOCATE = SITE "R15" LEVEL 1;
COMP "DOT_COL<5>" LOCATE = SITE "K2" LEVEL 1;
COMP "DOT_COL<6>" LOCATE = SITE "L1" LEVEL 1;
COMP "DOT_COL<7>" LOCATE = SITE "L3" LEVEL 1;
COMP "DOT_COL<8>" LOCATE = SITE "M1" LEVEL 1;
COMP "DOT_COL<9>" LOCATE = SITE "M2" LEVEL 1;
COMP "Mode_Switch" LOCATE = SITE "R9" LEVEL 1;
COMP "DOT_RAW<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "DOT_RAW<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "DOT_RAW<2>" LOCATE = SITE "L16" LEVEL 1;
COMP "DOT_RAW<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "DOT_RAW<4>" LOCATE = SITE "M16" LEVEL 1;
COMP "DOT_RAW<5>" LOCATE = SITE "M15" LEVEL 1;
COMP "DOT_RAW<6>" LOCATE = SITE "N16" LEVEL 1;
COMP "DOT_RAW<7>" LOCATE = SITE "N1" LEVEL 1;
COMP "DOT_RAW<8>" LOCATE = SITE "N3" LEVEL 1;
COMP "DOT_RAW<9>" LOCATE = SITE "P1" LEVEL 1;
COMP "clock_12MHz" LOCATE = SITE "T8" LEVEL 1;
COMP "FND_DATA<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "FND_DATA<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "FND_DATA<2>" LOCATE = SITE "B8" LEVEL 1;
COMP "FND_DATA<3>" LOCATE = SITE "C6" LEVEL 1;
COMP "FND_DATA<4>" LOCATE = SITE "D6" LEVEL 1;
COMP "FND_DATA<5>" LOCATE = SITE "A7" LEVEL 1;
COMP "FND_DATA<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "FND_DATA<7>" LOCATE = SITE "E6" LEVEL 1;
SCHEMATIC END;

